<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">

<!-- 사용자 스크립트 추가 -->
<th:block layout:fragment="script">

    <script th:inline="javascript">
        $(document).ready(function(){
            var errorMessage = [[${errorMessage}]];
            if(errorMessage != null){
                alert(errorMessage);
            }

            bindDomEvent();

        });

        function bindDomEvent(){
            $(".custom-file-input").on("change", function() {
                var fileName = $(this).val().split("\\").pop();  //이미지 파일명
                var fileExt = fileName.substring(fileName.lastIndexOf(".")+1); // 확장자 추출
                fileExt = fileExt.toLowerCase(); //소문자 변환

                // 클라가 개발자도구로 밑의 세팅을 바꿀 수도 있어서 validation 해줘야함!!
                if(fileExt != "jpg" && fileExt != "jpeg" && fileExt != "gif" && fileExt != "png" && fileExt != "bmp"){
                    alert("이미지 파일만 등록이 가능합니다.");
                    return;
                }

                // label 태그 안의 내용을 jquery 의 html 함수를 이용해서 파일명을 입력해준다.
                $(this).siblings(".custom-file-label").html(fileName);
            });
        }

    </script>

</th:block>

<!-- 사용자 CSS 추가 -->
<th:block layout:fragment="css">
    <style>
        .input-group {
            margin-bottom : 15px
        }
        .img-div {
            margin-bottom : 10px
        }
        .fieldError {
            color: #bd2130;
        }
    </style>
</th:block>

<div layout:fragment="content">


    <div class="container">
        <form role="form" method="post" enctype="multipart/form-data" th:object="${postDto}">

            <p class="h2">
                새로운 글
            </p>
            <div style="margin-bottom: 25px;"></div>
            <input type="hidden" th:field="*{id}">


            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text">제목</span>
                </div>
                <input type="text" th:field="*{title}" class="form-control" placeholder="제목을 입력해주세요">
            </div>

            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text">내용</span>
                </div>
                <input type="text" th:field="*{content}" class="form-control" placeholder="내용을 입력해주세요">
            </div>

            <!-- 이미지 정보를 담고 있는 리스트가 비어 있으면은 이미지를 등록 input 이 출력됨 -->
            <div th:if="${#lists.isEmpty(postDto.postImgDtoList)}">
                <div class="form-group" th:each="num: ${#numbers.sequence(1,5)}"> <!-- 이미지 개수 5개로 제한 -->
                    <div class="custom-file img-div">
                        <input type="file" class="custom-file-input" name="imgFile">
                        <label class="custom-file-label" th:text="이미지 + ${num}"></label> <!-- 몇번째 이미지인지 출력 -->
                    </div>
                </div>
            </div>

            <!-- 상품 이미지 정보를 담고 있는 리스트가 비어 있으면은 상품을 수정할 수 있게 밑의 코드가 출력됨 -->
            <div th:if = "${not #lists.isEmpty(postDto.postImgDtoList)}">
                <div class="form-group" th:each="imgDto, status: ${postDto.postImgDtoList}">
                    <div class="custom-file img-div">
                        <input type="file" class="custom-file-input" name="imgFile">
                        <input type="hidden" name="postImgIdList" th:value="${imgDto.id}">
                        <!-- #strings.isEmpty + 삼항연산자 -->
                        <!--  저장된 이미지가 있으면 이미지 이름 출력, 없으면 '상품이미지'+번호를 출력 -->
                        <label class="custom-file-label" th:text="${not #strings.isEmpty(imgDto.oriImgName)} ? ${imgDto.oriImgName} : '상품이미지' + ${status.index+1}"></label>
                    </div>
                </div>
            </div>

            <!-- 아이디가 없는 경우(상품을 처음 등록하는 경우) 저장 로직을 호출하는 버튼을 보여줌 -->
            <div th:if="${#strings.isEmpty(postDto.id)}" th:name="${postDto.id}" style="text-align: center">
                <button th:formaction="@{/new}" type="submit" class="btn btn-secondary">저장</button>
            </div>
            <!-- 아이디가 있는 경우 수정 로직을 호출하는 버튼을 보여줌 -->
            <div th:unless="${#strings.isEmpty(postDto.id)}" style="text-align: center">
                <button th:formaction="@{'/edit/' + ${postDto.id} }" type="submit" class="btn btn-secondary">수정</button>
            </div>

        </form>
    </div>  <!-- container -->



</div>

</html>