<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout1.html}">
<head>
    <link th:href="@{/css/layout.css}" rel="stylesheet">
</head>

<div layout:fragment="content">

    <div class="container">
        <a href="/new">new</a>
        <hr>
        <div class="row">

            <th:block th:each="mainPostDto, status: ${mainPostDtoList}">
                <div class="col-md-3 margin">

                    <div class="card">
                        <a th:href="'/post/' +${mainPostDto.id}" class="text-dark">
                            <img th:src="${mainPostDto.imgUrl}" class="card-img-top" th:alt="${mainPostDto.id}" height="300">
                            <div class="card-body">
                                <h4 class="card-title">[[${mainPostDto.title}]]</h4>
                                <p class="card-text">[[${mainPostDto.content}]]</p>
                                <a th:href="@{/edit/{id}(id=${mainPostDto.id})}">edit</a>

                                <form th:action="@{/delete}" th:method="post" enctype="multipart/form-data" >
                                    <input type="hidden" name="postDtoId" th:value="${mainPostDto.id}">
                                    <button class="btn" type="submit"> x </button>
                                </form>

                            </div>
                        </a>
                    </div>

                </div>
            </th:block>

        </div>
    </div>
</div>